<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
    <meta name="author" content="Sean Lee">
    <!--le css -->
    <!-- <link rel="stylesheet" href="/css/reset.css" type="text/css" /> -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" />

    <!-- le js -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
  <div id="container">
    <!-- <header>
        <hgroup>
        <h1><a href="/">little touch</a></h1>
      </hgroup>
    </header> -->
        {{ content }}
    <footer>
    </footer>
</div>

<!-- google analytics -->
<script type="text/javascript">
</script>
<!-- end google analytics -->
</body>
</html>
